body{
    border: 3px solid navy;
    background: lightgray;
    display: grid;
    width: 95%;
    max-width: 1400px;
    grid-template-columns: 550px 450px 1fr;
    grid-template-rows: 200px 300px 350px; 55px;
    grid-gap: 15px;
    grid-template-areas: 
        "head head head"
        "sect sect asid"
        "sect sect asid"
        "foot foot foot";
}

div#head { grid-area: head;}

div#imag{ grid-area: imag;}

div#sect{ grid-area: sect;}

div#side{grid-area: asid;}
 
div#foot{grid-area: foot;}



header{
    margin: 5px;
    padding; 5px;
    border: 2px solid midnightblue;
    background: rgb(184,180,180);
background: linear-gradient(0deg, rgba(184,180,180,1) 0%, rgba(0,53,153,1) 97%);
}

header h1 {
    padding: 10px;
    color: black;
    text-align: center;
    font-family: cursive;
    font-size: 24pt;
}



section{
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 16pt;
    border: 2px solid navy;
    
}

aside{
    margin: 10px;
    padding: 10px;
    font-style: oblique;
    font-size: 14pt;
    background-color: darkgrey;
    
}

section a{
    text-decoration: none;
    color: navy;
    font-size: 20pt;
}

section ol li {
    margin: 10px;
}

section a:visited{
    color: navy;
}

section a:focus, section a:hover{
    font-size: 30pt;
    color:black;
}

aside a {
    text-decoration: none;
    color: navy;
    
}

aside a:visited{
    color: navy;
}

aside a:focus, aside a:hover{
    font-size: 18pt;
    color: white;
}
    


footer{
    background: rgb(184,180,180);
background: linear-gradient(0deg, rgba(184,180,180,1) 0%, rgba(0,53,153,1) 97%);
    text-align: center;
    padding-top: 20px;
    height: 55px;
}