body{
   
    background-color: lightgray;
    display: grid;
    width: 95%;
    max-width: 1400px;
    height: 900px;
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows:     1fr 1fr 1fr ;
    grid-gap: 15px;
    grid-template-areas: 
        "head head head "
        "imag sect asid "
        "imag2 sect asid "
        "foot foot foot ";
}

div#head { grid-area: head;}

div#imag{ grid-area: imag;}

div#sect{ grid-area: sect;}

div#side{grid-area: asid;}
 
div#foot{grid-area: foot;}



header{
    margin: 5px;
    padding; 5px;
    border: 2px solid midnightblue;
    background: rgb(184,180,180);
background: linear-gradient(0deg, rgba(184,180,180,1) 0%, rgba(0,53,153,1) 97%);
    height: 160px;
}

header h1 {
    padding: 10px;
    color: black;
    text-align: center;
    font-family: cursive;
    font-size:34pt;
}

img{
    border: 1px solid navy;
    width: 200px;
    height: 200px;
}

img:focus, img:hover{
    width: 400px;
    height:400px;
}


figcaption {
    display: block;
    font-weight: bold;
    font-size: 12.5pt;
    padding-top: .25em;
    margin-bottom: 1em;
    border-bottom: 2px solid navy;
}

section{
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 20pt;
    border: 2px solid navy;
    height: 350px;
}

aside{
    margin: 10px;
    padding: 10px;
    font-style: oblique;
    font-size: 14pt;
    background-color: darkgrey;
    
}

aside a{
    text-decoration: none;
    color: navy;
    
}

aside a:visited{
    color: navy;
}

aside a:focus, aside a:hover{
    font-size: 16pt;
    color:black;
}


footer{
    background: rgb(184,180,180);
background: linear-gradient(0deg, rgba(184,180,180,1) 0%, rgba(0,53,153,1) 97%);
    text-align: center;
    padding-top: 20px;
}


@media only and (max-width: 1400px;)

@media only and (max-width:1200px;  )
body{
    border: 1px solid lightgray;
}
