body{
   border: 3px solid midnightblue;
    background-color: lightgray;
    display: grid;
    width: 95%;
    max-width: 1400px;
    grid-template-columns: 550px 450px 1fr;
    grid-template-rows: 100px 300px 350px; 55px;
    grid-gap: 15px;
    grid-template-areas: 
        "head head head"
        "arti sect asid"
        "arti sect sect2"
        "foot foot foot";
}

div#head { grid-area: head;}

div#arti{ grid-area: arti;}

div#sect{ grid-area: sect;}

div#side{grid-area: asid;}
 
div#foot{grid-area: foot;}

div#sect2{ grid-area: sect2;}

header{
    margin: 5px;
    padding; 5px;
    border: 2px solid midnightblue;
    background: rgb(184,180,180);
background: linear-gradient(0deg, rgba(184,180,180,1) 0%, rgba(0,53,153,1) 97%);
}

header h1 {
    padding: 10px;
    color: black;
    text-align: center;
    font-family: cursive;
    font-size: 24pt;
}



#section{
    margin: 50px 50px 0 0;
    padding: 10px;
    font-family: sans-serif;
    font-size: 16pt;
    border: 2px solid navy;
    text-indent: 10px;
    
}

#section2{
    border: 4px solid navy;
    margin-bottom: 50px;
}

#section2 h2{
    text-align: center;
    text-decoration: underline;
    font-size: 20pt;
}

#section2 ol li{
     margin: 10px;
     font-size: 15pt;
}


aside{
    margin: 10px;
    padding: 10px;
    font-style: oblique;
    font-size: 14pt;
    background-color: darkgrey;
    
}


aside a {
    text-decoration: none;
    color: navy;
    
}

aside a:visited{
    color: navy;
}

aside a:focus, aside a:hover{
    font-size: 18pt;
    color: white;
}
    
article h2{
    margin: 10px;
    padding: 10px;
    font-size: 22pt;
    font-style: oblique;
}

article ol  li{
    margin: 15px;
    font-size: 16pt;
}

footer{
    background: rgb(184,180,180);
background: linear-gradient(0deg, rgba(184,180,180,1) 0%, rgba(0,53,153,1) 97%);
    text-align: center;
    padding-top: 25px;
    height: 55px;
}